body{background-repeat: no-repeat; 
background-attachment: fixed; 
background-size: 100% 100%;
}
#nav{
    color:blanchedalmond;
    background-color: black;
    border-radius: 30px; 
     padding: 10px;
}
a{
    margin:10px ;
    color: blanchedalmond;
}
.sp{
    display: inline;
    padding: 330px;
}
.button { 
    width: 140px; 
    height: 45px; 
    font-family: 'Roboto', 
    sans-serif; margin-bottom:10px; 
    font-size: 11px;
    text-transform: 
    uppercase; 
    letter-spacing: 2.5px; 
    font-weight: 700; 
    color: #000; 
    background-color: blackwhite; 
    border: none; 
    border-radius: 45px; 
    border: 1px 
        solid grey; }
.button:hover { 
    background-color: #2EE59D; 
    /*background-color-On-Hover*/ 
    box-shadow: 0px 5px 5px rgba(46, 229, 157, 0.4); 
    /*shadow-color*/ color: #fff; cursor: pointer;}
  .button1 { 
    width: 160px; 
    height: 45px;
    background-color:
    blackwhite; 
    border: none; 
    border-radius: 45px; 
    border: 1px solid grey; 
    font-size: 5px; 
    color: #000; 
    margin-right:10px; }
 .button1:hover {
     background-color: #2EE59D;
     /*background-color-On-Hover*/ 
     box-shadow: 0px 5px 5px rgba(46, 229, 157, 0.4);
     /*shadow-color*/ color: #fff; cursor: pointer;}
